* {
  font-family: 'Kumar One', cursive;
}

body {
  background-image: url(../images/cave-background.jpg);
}

h5 {
  color: white
}

hr {
  background-color: white;
}

.text-center {
  text-align: center;
}

.crystal-image {
  width: 23%;
  height: 23%;
}